<?xml version="1.0"?>
 
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="printpdf" frontName="printpdf">
            <module name="Inchoo_printpdf" />
        </route>
    </router>
</config>
